.env
__pycache__
dist
*.egg-info
dev_requirements.txt
build
.DS_Store
llama_stack/configs/*
xcuserdata/
*.hmap
.DS_Store
.build/
Package.resolved
*.pte
*.ipynb_checkpoints*
.idea
.venv/
.vscode
_build
docs/src
envs/
faiss-env/
faiss_index.json
faiss_index_squad.json
faiss_index_quac.json
faiss_store.db
log-140-245-13-164
faiss_index_narrativeqa_sentence.json
faiss_index_narrativeqa_full_fixed.json
faiss_index_narrativeqa_full_sentence.json
.envrc